/* Hoja Estilos para Tarea Online 2 DWES */
body {
  font-size: 16px;
  /*https://uigradients.com/#Vanusa página para fondo pantalla degradado*/
  background: #ffefba;
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Lato", sans-serif;
  letter-spacing: -1px;
  padding: 10px 0;
}

.container.form_login {
  width: 60%; /* Ocupa el 50% del ancho */
  max-width: 600px; /* Máximo ancho para pantallas grandes */
  background: #fff; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  box-sizing: border-box; /* Para evitar desbordamientos con padding */
}

.form-label {
  font-weight: bold; /* Etiquetas destacadas */
}

input.form-control {
  margin-bottom: 15px; /* Espacio entre los campos */
}

button.btn-primary {
  background-color: #007bff; /* Color azul estándar */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilos navegación footer*/
.footer ul li a:hover {
  background-color: #ae9d0d;
}

.agregarLibro {
  width: 75%; /* Ocupa el 75% del ancho */
  margin: 20px auto; /* Centrado horizontal con margen superior */
  padding: 20px; /* Espaciado interno */
  background-color: #f8f9fa; /* Fondo claro */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border: 1px solid #dee2e6; /* Borde ligero */
}
